[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy = "*"
json-server = "*"
fastapi = {extras = ["standard"], version = "*"}
axios = "*"

[dev-packages]

[requires]
python_version = "3.8"
